<main class="container-main">
    <div class="box-conteudo">
        <div class="conteudo_principal">
            <h2>Usuario 123</h2>
            <div class="linha"></div>

            <div class="info_usuario">
                <div class="conteudo">
                    <span><strong>E-mail:</strong></span>
                    <p>@ViewBag.Email</p>
                </div>
                <div class="conteudo">
                    <span><strong>Curso:</strong></span>
                    <p>@ViewBag.Curso</p>
                </div>
                <div class="conteudo">
                    <span><strong>Celular:</strong></span>
                    <p>@ViewBag.Telefone</p>
                </div>
                <div class="conteudo">
                    <span><strong>Data de nascimento:</strong></span>
                    <p>@ViewBag.DtNasc</p>
                </div>

            </div>
        </div>
    </div>
</main>